body {} nav {
  background: black;
  height: 60px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Arial";
  padding-right: 50px;
  vertical-align: bottom;
  line-height: 60px;
}
nav a:first-child {
  margin-left: 80px;
}
/*----------------------------------------------------*/

section {
  width: 90%;
  margin: 0 auto;
}

/*-----Top Stuff-----*/
.topStuff {
  display: inline-block;
  width: 100%;
  margin: 10px auto;
}

.webLogo a {
  float:left;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/logo.png");
  height: 54px;
  width: 291px;
}

.socialNav a {
  float:right;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/socialNav.png");
  height: 48px;
  width: 48px;
}
a#lnSN {
  background-position: 0 0;
}

a#twitterSN{
  background-position: -96px 0;
}

a#fbSN {
  background-position: -192px 0;
}

a#rssSN {
  background-position: -288px 0;
}

/*-----Banner-----*/
.banner {
  margin: 0 0 10px;
}
.banner img {
  display: block;
  width: 100%;
}

/*-----Quote-----*/

.quote {
  border: 2px solid #eeeeee;
  margin: 0 0 10px;
  padding: 5px;
  height: 50px;
}
.quote p, .quote a {
  display: inline-block;
  margin: auto 0;
}
.quote p {
  float: left;
  width: 70%;
}
.quote a {
  float: right;
  text-indent: -9999px;
  background: url("../images/button_blurb.png") no-repeat;
  width: 202px;
  height: 50px;
}

/*-----Box3-----*/







