/*----------BODY----------*/
/*-----Navigation-----*/

body {} nav {
  background: black;
  height: 60px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Arial";
  padding-right: 50px;
  vertical-align: bottom;
  line-height: 60px;
}
nav a:first-child {
  margin-left: 80px;
}
/*-Section off for 90% width for rest of body-*/

section {
  width: 90%;
  margin: 0 auto;
}
/*-----Top Stuff-----*/

.topStuff {
  display: inline-block;
  width: 100%;
  margin: 10px auto;
}
a.webLogo {
  float: left;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/logo.png") no-repeat;
  height: 54px;
  width: 291px;
}
a.socialNav {
  float: right;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/socialNav.png") no-repeat;
  height: 48px;
  width: 48px;
}
a#lnSN {
  background-position: 0 0;
}
a#lnSN:hover {
  background-position: -48px 0;
}
a#twitterSN {
  background-position: -96px 0;
}
a#twitterSN:hover {
  background-position: -144px 0;
}
a#fbSN {
  background-position: -192px 0;
}
a#fbSN:hover {
  background-position: -240px 0;
}
a#rssSN {
  background-position: -288px 0;
}
a#rssSN:hover {
  background-position: -336px 0;
}
/*-----Banner-----*/

.banner {
  width: 100%;
  margin: 0 0 10px;
}
.banner img {
  display: block;
  width: 100%;
}
/*-----Quote-----*/

.quote {
  display: inline-block;
  width: 100%;
  height: 74px;
  border: 2px solid #eeeeee;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 0 10px;
}
.quote p, .quote a {
  display: inline-block;
}

.quote p {
  float: left;
  max-width: 70%;
}
.quote a {
  float: right;
  text-indent: -9999px;
  background: url("../images/button_blurb.png") no-repeat;
  width: 202px;
  height: 50px;
}
/*-----Home Boxes-----*/

div.homeBox {
  margin: 0 auto 10px;
}
div.hb {
  margin: 0 auto;
  display: inline-block;
  width: 30%;
}
div.box2 {
  margin: 0 4%;
}
div.hb img {
  width: 100%;
  height: auto;
  border: 5px solid #eeeeee;
  box-sizing: border-box;
}
div.hb a {
  text-decoration: none;
}
/*-----FOOTER-----*/

footer {
  background-color: black
}
div.footnote {
  width: 90%;
  margin: 0 auto™;
}
div.listingLinks {
  display: inline-block;
  width: 30%;
  left: 100px;
  padding: 0 20px;
  box-sizing: border-box;
}
h2.fnTitle {
  color: white;
}
div.listingLinks ul li a, div.listingLinks p {
  color: #bbbbbb;
}
div.listingLinks p {
  border-top: 1px solid #bbbbbb;
}
div.listingLinks ul li a {
  text-decoration: none;
}
div.listingLinks ul li {
  padding: 5px 0;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
div.listingLinks ul {
  list-style-type: none;
  padding-left: 0;
}
